*.htaccess linguist-detectable=true
*.htaccess linguist-language=ApacheConf
*.htaccess text

*.xml linguist-detectable=true
*.xml linguist-language=XML
*.xml text

public_html/template/PHPMailer/** linguist-vendored
