<!DOCTYPE html>
<html lang="tr">
<head>
 <title>Gezegenler - Nasıl Oluşur?</title>
 <link rel="shortcut icon" href="https://uzay.info/uzaylogo.ico">
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://uzay.info/template/ansiklopedi.css">
 <script src="https://uzay.info/template/boostrap.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(102,0,255,0.8)"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://uzay.info">Uzay</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bunu Biliyormuydun?<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi">Bunu Biliyormuydun?</a></li>
          <li><a href="/ansiklopedi/@/patlamalar">Patlamalar</a></li>
          <li><a href="/ansiklopedi/@/burclarvemitoloji">Burçlar ve Mitoloji</a></li>
          <li><a href="/ansiklopedi/@/tarihiolaylar">Tarihi olaylar</a></li>
          <li><a href="/ansiklopedi/@/kazalar">Kazalar</a></li>
          <li><a href="/ansiklopedi/@/meteorvegoktasi">Meteor ve Göktaşı</a></li>
          <li><a href="/ansiklopedi/@">Oyunlar</a></li>
          <li><a href="/">Uzay Alanı</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bulutsular<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/bulutsular">Nedir?</a></li>
          <li><a href="/ansiklopedi/bulutsular/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/bulutsular/salma">Salma Bulutsusu</a></li>
          <li><a href="/ansiklopedi/bulutsular/karanlik">Karanlık Bulutsular</a></li>
          <li><a href="/ansiklopedi/bulutsular/yansima">Yansıma Bulutsusu</a></li>
          <li><a href="/ansiklopedi/bulutsular/gezegenimsi">Gezegenimsi Bulutsu</a></li>
          <li><a href="/ansiklopedi/bulutsular/supernova">Süpernova Kalıntıları</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gezegenler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/gezegenler/nedir">Nedir?</a></li>
          <li><a href="/ansiklopedi/gezegenler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/gezegenler/gunessistemi">Güneş Sistemi</a></li>
          <li><a href="/ansiklopedi/gezegenler">Gezegenler</a></li>
          <li><a href="/ansiklopedi/gezegenler/cucegezegenler">Cüce Gezegenler</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Yıldızlar<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/yildizlar">Nedir?</a></li>
          <li><a href="/ansiklopedi/yildizlar/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/yildizlar/mtayf">M Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/ktayf">K Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/aveftayf">A ve F Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/ovebtayf">O ve B Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/devyildizlar">Dev Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Takım Yıldızları<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/takimyildizlari/nedir">Nedir?</a></li>
          <li><a href="/ansiklopedi/takimyildizlari/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/takimyildizlari">Takım Yıldızları</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kuyruklu Yıldızlar<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/kuyrukluyildizlar">Nedir?</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/jupiterailesi">Jüpiter Ailesi Kuyruk Yıldızları</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/halleysinifi">Halley Sınıfı Kuyruklu Yıldızlar</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/uzunsureli">Uzun Süreli Uçurtmalar</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/yorunge">Yörüngelerine Göre Kuyruklu Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nötron Yıldızları<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/notron">Nedir?</a></li>
          <li><a href="/ansiklopedi/notron/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/notron/atarca">Atarca</a></li>
          <li><a href="/ansiklopedi/notron/magnetar">Magnetar</a></li>
          <li><a href="/ansiklopedi/notron/kuarkvegzotik">Kuark ve Egzotik Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galaksiler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/galaksiler">Nedir?</a></li>
          <li><a href="/ansiklopedi/galaksiler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/galaksiler/eliptik">Eliptik</a></li>
          <li><a href="/ansiklopedi/galaksiler/sarmal">Sarmal (Spiral)</a></li>
          <li><a href="/ansiklopedi/galaksiler/cubuklusarmal">Çubuklu Sarmal</a></li>
          <li><a href="/ansiklopedi/galaksiler/düzensiz">Düzensiz</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kara Delikler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/karadelikler">Nedir?</a></li>
          <li><a href="/ansiklopedi/karadelikler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/karadelikler/yildizsal">Yıldızsal Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/dev">Dev Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/ortakutleli">Orta Kütleli Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/ilksel">İlksel Kara Delikler</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:50px">
  <h3></h3>
  <font color="#6ec8ff">
        <h1> Gezegenler Nasıl Oluşur?</h1>
        <img src="https://www.uzay.info/template/ency/static/gezegenler2.png">
        <br><br>
        Gezegenlerin oluşumu, yıldızların doğumuyla başlayan ve milyonlarca yıl süren karmaşık bir süreçtir. Bir gezegen hiçbir zaman tek başına, bağımsız olarak ortaya çıkmaz; gezegenlerin varlığı, doğrudan bir yıldızın oluşumuna bağlıdır. Bu süreç, galaksiler içinde bulunan soğuk ve yoğun gaz bulutlarının kendi kütle çekimleri altında çökmeye başlamasıyla başlar. Bu çöküş sırasında maddenin büyük bölümü merkezde toplanarak yeni bir yıldız oluştururken, geri kalan madde yıldızın çevresinde dönmeye devam eder.
        <br><br>
        Yeni oluşan yıldızın çevresinde kalan gaz ve toz, zamanla düzleşerek disk biçiminde bir yapı oluşturur. Bu yapıya gezegen oluşum diski adı verilir. Diskin içinde bulunan madde, başlangıçta son derece küçük parçacıklardan oluşur. Bu parçacıklar mikroskobik toz tanecikleridir ve uzayda serbestçe hareket eder. Diskin dönme hareketi, bu taneciklerin rastgele dağılmasını engeller ve onları belirli yörüngeler boyunca tutar. Böylece gezegen oluşumu için gerekli olan düzenli ortam ortaya çıkar.
        <br><br>
        Gezegen oluşum sürecinin bir sonraki aşamasında, toz tanecikleri birbirleriyle çarpışarak birleşmeye başlar. Bu çarpışmalar başlangıçta son derece yavaş ve zayıftır. Ancak zamanla daha büyük parçalar oluşur ve bu parçalar çevrelerindeki küçük tanecikleri daha kolay çekmeye başlar. Bu süreç, kütle çekiminin giderek daha etkili hâle gelmesine yol açar. Sonuç olarak santimetre, metre ve daha büyük boyutlarda cisimler meydana gelir.
        <br><br>
        Bu büyüme devam ettikçe, gezegenimsiler olarak adlandırılan daha büyük gök cisimleri oluşur. Gezegenimsiler, gezegenlerin doğrudan öncülleridir. Kütleleri arttıkça, çevrelerindeki maddeleri daha güçlü bir şekilde çekmeye başlarlar. Disk içinde bulunan gaz ve toz, bu cisimlerin etrafında toplanır ve gezegen oluşumunun temel yapı taşları ortaya çıkar. Bu aşamada disk, artık homojen bir yapı olmaktan çıkar ve belirgin boşluklar ile yoğun bölgeler içermeye başlar.
        <br><br>
        Gezegenlerin türleri, büyük ölçüde bu oluşum sürecinin hangi bölgede gerçekleştiğine bağlıdır. Merkez yıldıza yakın bölgelerde sıcaklık yüksektir. Bu nedenle hafif gazlar bu bölgelerde tutunamaz ve yalnızca kayaçlar ile metaller bir araya gelerek katı gezegenlerin oluşmasına imkân tanır. Daha uzak bölgelerde ise sıcaklık daha düşüktür ve hidrojen ile helyum gibi hafif gazlar korunabilir. Bu durum, büyük ve gaz bakımından zengin gezegenlerin ortaya çıkmasına yol açar.
        <br><br>
        Gezegen oluşumu sırasında disk içindeki madde zamanla tükenir. Bir kısmı gezegenlere katılırken, bir kısmı merkez yıldıza düşer ya da yıldız rüzgârları tarafından sistemin dışına savrulur. Bu süreç tamamlandığında gezegenler, yörüngelerinde daha kararlı hâle gelir. Ancak bu kararlılık hemen sağlanmaz. Genç gezegenler, birbirleriyle kütle çekim etkileşimleri yaşayabilir, yörüngelerini değiştirebilir ve hatta çarpışmalar sonucunda birleşebilir. Bu çalkantılı dönem, gezegen sisteminin nihai düzenini belirler.
        <br><br>
        Zaman ilerledikçe gezegenler soğur, iç yapıları farklılaşır ve yüzeyleri şekillenmeye başlar. Büyük gezegenler kalın gaz katmanlarını korurken, daha küçük gezegenler iç ısılarını kaybederek katı yüzeyler geliştirir. Atmosferler bu aşamada oluşur ya da yok olur. Tüm bu süreçler, gezegenlerin bugün gözlemlenen fiziksel ve kimyasal özelliklerini belirler.
        <br><br>
        Sonuç olarak gezegenlerin oluşumu, yıldız oluşumunun doğal bir devamıdır. Gaz ve tozdan başlayan bu süreç, kütle çekimi ve zamanın etkisiyle karmaşık ve düzenli gezegen sistemlerini ortaya çıkarır. Gezegenlerin çeşitliliği, oluşum ortamlarının farklılığını yansıtır. Bu süreci anlamak, yalnızca gezegenlerin kökenini değil, yıldız sistemlerinin nasıl şekillendiğini ve evrende neden bu kadar farklı dünyalar bulunduğunu da anlamak anlamına gelir.
        <h3></h3>
    </font>
</div>

</body>
</html>
