<!DOCTYPE html>
<html lang="tr">
<head>
 <title>Kara Delikler - Yıldızsal Kara Delikler</title>
 <link rel="shortcut icon" href="https://uzay.info/uzaylogo.ico">
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://uzay.info/template/ansiklopedi.css">
 <script src="https://uzay.info/template/boostrap.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(102,0,255,0.8)"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://uzay.info">Uzay</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bunu Biliyormuydun?<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi">Bunu Biliyormuydun?</a></li>
          <li><a href="/ansiklopedi/@/patlamalar">Patlamalar</a></li>
          <li><a href="/ansiklopedi/@/burclarvemitoloji">Burçlar ve Mitoloji</a></li>
          <li><a href="/ansiklopedi/@/tarihiolaylar">Tarihi olaylar</a></li>
          <li><a href="/ansiklopedi/@/kazalar">Kazalar</a></li>
          <li><a href="/ansiklopedi/@/meteorvegoktasi">Meteor ve Göktaşı</a></li>
          <li><a href="/ansiklopedi/@">Oyunlar</a></li>
          <li><a href="/">Uzay Alanı</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bulutsular<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/bulutsular">Nedir?</a></li>
          <li><a href="/ansiklopedi/bulutsular/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/bulutsular/salma">Salma Bulutsusu</a></li>
          <li><a href="/ansiklopedi/bulutsular/karanlik">Karanlık Bulutsular</a></li>
          <li><a href="/ansiklopedi/bulutsular/yansima">Yansıma Bulutsusu</a></li>
          <li><a href="/ansiklopedi/bulutsular/gezegenimsi">Gezegenimsi Bulutsu</a></li>
          <li><a href="/ansiklopedi/bulutsular/supernova">Süpernova Kalıntıları</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gezegenler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/gezegenler/nedir">Nedir?</a></li>
          <li><a href="/ansiklopedi/gezegenler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/gezegenler/gunessistemi">Güneş Sistemi</a></li>
          <li><a href="/ansiklopedi/gezegenler">Gezegenler</a></li>
          <li><a href="/ansiklopedi/gezegenler/cucegezegenler">Cüce Gezegenler</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Yıldızlar<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/yildizlar">Nedir?</a></li>
          <li><a href="/ansiklopedi/yildizlar/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/yildizlar/mtayf">M Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/ktayf">K Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/aveftayf">A ve F Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/ovebtayf">O ve B Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/devyildizlar">Dev Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Takım Yıldızları<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/takimyildizlari/nedir">Nedir?</a></li>
          <li><a href="/ansiklopedi/takimyildizlari/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/takimyildizlari">Takım Yıldızları</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kuyruklu Yıldızlar<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/kuyrukluyildizlar">Nedir?</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/jupiterailesi">Jüpiter Ailesi Kuyruk Yıldızları</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/halleysinifi">Halley Sınıfı Kuyruklu Yıldızlar</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/uzunsureli">Uzun Süreli Uçurtmalar</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/yorunge">Yörüngelerine Göre Kuyruklu Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nötron Yıldızları<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/notron">Nedir?</a></li>
          <li><a href="/ansiklopedi/notron/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/notron/atarca">Atarca</a></li>
          <li><a href="/ansiklopedi/notron/magnetar">Magnetar</a></li>
          <li><a href="/ansiklopedi/notron/kuarkvegzotik">Kuark ve Egzotik Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galaksiler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/galaksiler">Nedir?</a></li>
          <li><a href="/ansiklopedi/galaksiler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/galaksiler/eliptik">Eliptik</a></li>
          <li><a href="/ansiklopedi/galaksiler/sarmal">Sarmal (Spiral)</a></li>
          <li><a href="/ansiklopedi/galaksiler/cubuklusarmal">Çubuklu Sarmal</a></li>
          <li><a href="/ansiklopedi/galaksiler/düzensiz">Düzensiz</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kara Delikler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/karadelikler">Nedir?</a></li>
          <li><a href="/ansiklopedi/karadelikler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/karadelikler/yildizsal">Yıldızsal Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/dev">Dev Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/ortakutleli">Orta Kütleli Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/ilksel">İlksel Kara Delikler</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:50px">
  <h3></h3>
  <font color="#6ec8ff">
        <h1> Yıldızsal Kara Delikler</h1>
        <img src="https://www.uzay.info/template/ency/static/karadelikler3.png">
        <br><br>
        Yıldızsal kara delikler, büyük kütleli yıldızların yaşamlarının sonunda ortaya çıkan kara delik türüdür. Bu kara delikler genellikle birkaç Güneş kütlesi ile onlarca Güneş kütlesi arasında değişen kütlelere sahiptir. Oluşumları doğrudan yıldız evrimiyle bağlantılıdır ve çoğu zaman bir süpernova patlamasının ardından meydana gelir.
        <br><br>
        Bir yıldız, çekirdeğinde nükleer füzyon yoluyla enerji üretirken kütle çekimine karşı dengede kalır. Ancak yakıt tükendiğinde bu denge bozulur. Yıldızın çekirdeği hızla çöker ve dış katmanlar süpernova patlamasıyla uzaya savrulur. Eğer geriye kalan çekirdeğin kütlesi belirli bir sınırın üzerindeyse, nötron yıldızı oluşamaz ve madde tamamen çöker. Bu geri döndürülemez çöküş, yıldızsal kara deliğin doğumudur.
        <br><br>
        Yıldızsal kara delikler genellikle tek başlarına değil, ikili sistemlerin bir parçası olarak gözlemlenir. Bu sistemlerde kara delik, yakınındaki yıldızdan madde çeker. Çekilen madde doğrudan kara deliğe düşmez; önce bir yığılma diski oluşturur. Bu disk aşırı derecede ısınır ve güçlü X-ışınları yayar. Kara deliklerin varlığı çoğunlukla bu yüksek enerjili ışınım sayesinde tespit edilir.
        <br><br>
        Cygnus X-1, keşfedilen ilk güçlü kara delik adaylarından biridir ve günümüzde yıldızsal kara delik olduğu kesinleşmiştir. Bu sistemde kara delik, büyük kütleli bir yıldızla birlikte ikili sistem oluşturur. Yıldızdan kopan madde kara deliğe doğru akarken yoğun X-ışını yayılımı meydana gelir.
        <br><br>
        Bir diğer önemli örnek V404 Cygni’dir. Bu sistemde kara delik, daha küçük bir yıldızdan madde çeker ve zaman zaman parlaklık artışları gösterir. Bu tür patlamalı davranışlar, yığılma diskinin kararsız yapısından kaynaklanır ve yıldızsal kara deliklerin dinamik doğasını ortaya koyar.
        <br><br>
        Yıldızsal kara delikler evrende oldukça yaygındır. Samanyolu Galaksisi’nde milyonlarca yıldızsal kara delik bulunduğu tahmin edilmektedir. Ancak çoğu, çevresinde madde çekmediği için doğrudan tespit edilemez. Bu nedenle gözlemlenen yıldızsal kara delik sayısı, gerçek sayıdan çok daha azdır.
        <br><br>
        Sonuç olarak yıldızsal kara delikler, büyük yıldızların dramatik ölümünün ardından ortaya çıkan yoğun kalıntılardır. Kütleleri dev kara deliklere kıyasla küçük olsa da, çevrelerindeki maddeyi etkileyen güçlü kütle çekimleri sayesinde astrofizik araştırmalarında temel bir rol oynarlar.
        <h3></h3>
    </font>
</div>

</body>
</html>
