<!DOCTYPE html>
<html lang="tr">
<head>
 <title>Patlamalar</title>
 <link rel="shortcut icon" href="https://uzay.info/uzaylogo.ico">
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://uzay.info/template/ansiklopedi.css">
 <script src="https://uzay.info/template/boostrap.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(102,0,255,0.8)"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://uzay.info">Uzay</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bunu Biliyormuydun?<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi">Bunu Biliyormuydun?</a></li>
          <li><a href="/ansiklopedi/@/patlamalar">Patlamalar</a></li>
          <li><a href="/ansiklopedi/@/burclarvemitoloji">Burçlar ve Mitoloji</a></li>
          <li><a href="/ansiklopedi/@/tarihiolaylar">Tarihi olaylar</a></li>
          <li><a href="/ansiklopedi/@/kazalar">Kazalar</a></li>
          <li><a href="/ansiklopedi/@/meteorvegoktasi">Meteor ve Göktaşı</a></li>
          <li><a href="/ansiklopedi/@">Oyunlar</a></li>
          <li><a href="/">Uzay Alanı</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bulutsular<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/bulutsular">Nedir?</a></li>
          <li><a href="/ansiklopedi/bulutsular/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/bulutsular/salma">Salma Bulutsusu</a></li>
          <li><a href="/ansiklopedi/bulutsular/karanlik">Karanlık Bulutsular</a></li>
          <li><a href="/ansiklopedi/bulutsular/yansima">Yansıma Bulutsusu</a></li>
          <li><a href="/ansiklopedi/bulutsular/gezegenimsi">Gezegenimsi Bulutsu</a></li>
          <li><a href="/ansiklopedi/bulutsular/supernova">Süpernova Kalıntıları</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gezegenler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/gezegenler/nedir">Nedir?</a></li>
          <li><a href="/ansiklopedi/gezegenler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/gezegenler/gunessistemi">Güneş Sistemi</a></li>
          <li><a href="/ansiklopedi/gezegenler">Gezegenler</a></li>
          <li><a href="/ansiklopedi/gezegenler/cucegezegenler">Cüce Gezegenler</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Yıldızlar<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/yildizlar">Nedir?</a></li>
          <li><a href="/ansiklopedi/yildizlar/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/yildizlar/mtayf">M Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/ktayf">K Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/aveftayf">A ve F Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/ovebtayf">O ve B Tayf</a></li>
          <li><a href="/ansiklopedi/yildizlar/devyildizlar">Dev Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Takım Yıldızları<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/takimyildizlari/nedir">Nedir?</a></li>
          <li><a href="/ansiklopedi/takimyildizlari/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/takimyildizlari">Takım Yıldızları</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kuyruklu Yıldızlar<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/kuyrukluyildizlar">Nedir?</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/jupiterailesi">Jüpiter Ailesi Kuyruk Yıldızları</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/halleysinifi">Halley Sınıfı Kuyruklu Yıldızlar</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/uzunsureli">Uzun Süreli Uçurtmalar</a></li>
          <li><a href="/ansiklopedi/kuyrukluyildizlar/yorunge">Yörüngelerine Göre Kuyruklu Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nötron Yıldızları<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/notron">Nedir?</a></li>
          <li><a href="/ansiklopedi/notron/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/notron/atarca">Atarca</a></li>
          <li><a href="/ansiklopedi/notron/magnetar">Magnetar</a></li>
          <li><a href="/ansiklopedi/notron/kuarkvegzotik">Kuark ve Egzotik Yıldızlar</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galaksiler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/galaksiler">Nedir?</a></li>
          <li><a href="/ansiklopedi/galaksiler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/galaksiler/eliptik">Eliptik</a></li>
          <li><a href="/ansiklopedi/galaksiler/sarmal">Sarmal (Spiral)</a></li>
          <li><a href="/ansiklopedi/galaksiler/cubuklusarmal">Çubuklu Sarmal</a></li>
          <li><a href="/ansiklopedi/galaksiler/düzensiz">Düzensiz</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kara Delikler<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-custom">
          <li><a href="/ansiklopedi/karadelikler">Nedir?</a></li>
          <li><a href="/ansiklopedi/karadelikler/nasilolusur">Nasıl Oluşur?</a></li>
          <li><a href="/ansiklopedi/karadelikler/yildizsal">Yıldızsal Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/dev">Dev Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/ortakutleli">Orta Kütleli Kara Delikler</a></li>
          <li><a href="/ansiklopedi/karadelikler/ilksel">İlksel Kara Delikler</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:50px">
  <h3></h3>
  <font color="#6ec8ff">
        <h1> Patlamalar</h1>
        <img src="https://www.uzay.info/template/ency/static/biliyormuydun2.png">
        <br><br>
        Evren, düşündüğümüzden çok daha şiddetli ve dramatik olaylara sahne olur. Kozmik patlamalar, bir yıldızın ölümü ya da aşırı enerji boşalımı sonucu ortaya çıkan ve bazen bir galaksinin tamamından daha parlak hâle gelebilen olaylardır.
        <br><br>
        1987 yılında gözlemlenen SN 1987A, modern çağda çıplak gözle görülebilen en yakın süpernovalardan biridir. Büyük Macellan Bulutu’nda gerçekleşen bu patlama, yıldız evriminin son aşamalarının doğrudan incelenmesini sağlamıştır. Patlama sonrası oluşan halka yapıları, yıldızın ölümünden önceki madde atımlarını ortaya koymuştur.
        <br><br>
        Gamma ışını patlamaları ise evrendeki en enerjik olaylar arasında yer alır. Birkaç saniye süren bu patlamalar, Güneş’in tüm yaşamı boyunca üreteceği enerjiyi saniyeler içinde açığa çıkarabilir. Bu tür patlamalar genellikle büyük kütleli yıldızların çökmesi ya da nötron yıldızlarının birleşmesi sonucu meydana gelir.
        <br><br>
        Yengeç Bulutsusu, 1054 yılında Çinli gökbilimciler tarafından kaydedilen bir süpernova patlamasının kalıntısıdır. O dönemde gündüz vakti bile görülebilecek kadar parlak olan bu patlama, geride karmaşık bir gaz bulutu ve merkezinde bir nötron yıldızı bırakmıştır. Bu olay, tarihsel kayıtlarla modern astrofiziğin birleştiği önemli bir örnektir.
        <br><br>
        Bu patlamalar yalnızca yıldızların sonunu değil, aynı zamanda yeni elementlerin oluşumunu da temsil eder. Demirden daha ağır birçok element, bu tür patlamalar sırasında üretilir ve uzaya saçılır. Böylece patlamalar, evrenin kimyasal zenginliğini artıran üretken olaylardır.
        <br><br>
        Sonuç olarak kozmik patlamalar, evrendeki en yıkıcı ama aynı zamanda en yaratıcı süreçlerden biridir. Bir yıldızın ölümü, başka yıldızların ve gezegen sistemlerinin doğumuna zemin hazırlayabilir.
        <h3></h3>
    </font>
</div>

</body>
</html>
